@import "reset";
@import "variables";
@import "mixins";
@import "placeholders";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-margin{
    margin: 0 !important;
}

.mat-dialog-container{
    margin: var(--space);

    .mat-dialog-content{
        padding-top: var(--space);
        padding-bottom: var(--space);
    }
}
